<f:form name="filter" object="{searchFilter}" id="searchForm">
	<h3>
		<span>Aktionen</span>
	</h3>
	<label>{page.title} durchsuchen:</label>
	<div class="powermail_fieldwrap input-keyword">
		<f:form.textfield property="keyword" placeholder="Suchbegriff eingeben" value="{searchFilter.keyword}" />
	</div>
	<label>Suchergebnis filtern nach:</label>
	<div>
		<div class="powermail_fieldwrap">
			<f:form.select property="industry" options="{industries}" optionValueField="uid" optionLabelField="name" prependOptionLabel="Branche" />
		</div>
		<div class="powermail_fieldwrap">
			<f:form.select property="technology" options="{technologies}" optionValueField="uid" optionLabelField="name" prependOptionLabel="Technologie" />
		</div>
		<div class="powermail_fieldwrap">
			<f:form.select property="theme" options="{themes}" optionValueField="uid" optionLabelField="name" prependOptionLabel="Thema" />
		</div>
	</div>
	<div class="powermail_fieldwrap">
		<f:form.submit name="" value="Suchen" class="powermail_submit" />
	</div>
	<br class="clear"/>
</f:form>