<table class="tx-bluhmpresse" >
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_image.image_date" />
		</td>
		<td>
			{image.imageDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_image.title" />
		</td>
		<td>
			{image.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_image.source" />
		</td>
		<td>
			{image.source}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_image.image72" />
		</td>
		<td>
			{image.image72}
		</td>
	</tr>
</table>
