<table class="tx-bluhmpresse" >
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.article_date" />
		</td>
		<td>
			{article.articleDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.title" />
		</td>
		<td>
			{article.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.abstract" />
		</td>
		<td>
			{article.abstract}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.bodytext" />
		</td>
		<td>
			{article.bodytext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.related_images" />
		</td>
		<td>
			{article.relatedImages}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.pdf_file" />
		</td>
		<td>
			{article.pdfFile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.txt_file" />
		</td>
		<td>
			{article.txtFile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bluhmpresse_domain_model_article.links" />
		</td>
		<td>
			{article.links}
		</td>
	</tr>
</table>