{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace bp=Mkuehnel\Bluhmpresse\ViewHelpers}
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <bp:firstitem arguments={as:article, items:articles}/>

    <f:if condition="({arguments.action} == 'show') || {arguments.filter}">
        <f:then></f:then>
        <f:else>

            <div id="BluhmpresseCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <f:for each="{articles}" as="article" iteration="iterator">
                        <f:if condition="{iterator.cycle} < 4">
                            <div class="carousel-item {f:if(condition: '{iterator.cycle} == 1', then: 'active ', else: '')}">
                                <div class="presseslider-bg"
                                     style="background: url(/typo3conf/ext/bluhmpresse/Resources/Public/img/slide-bg{iterator.cycle}.jpg)">
                                    <div class="container">
                                        <div class="presseteaser">
                                            <div class="presseteaser-inner">
                                                <div class="bp-item-headline">
                                                    <h2 class="bp-item-title">{article.title}</h2>
                                                    <span class="bp-item-date">

                            <f:format.date format="d.m.Y">{article.articleDate}</f:format.date></span>
                                                </div>
                                            </div>
                                            <f:link.action class="bluhmpresse-showarticle" action="show"
                                                           arguments="{article : article}">Weiter zur Pressemeldung
                                            </f:link.action>
                                        </div>

                                        <br class="clear">
                                    </div>
                                </div>
                            </div>
                        </f:if>
                    </f:for>

                </div>
                <ol class="carousel-indicators">
                    <li data-target="#BluhmpresseCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#BluhmpresseCarousel" data-slide-to="1"></li>
                    <li data-target="#BluhmpresseCarousel" data-slide-to="2"></li>
                </ol>
                <a class="carousel-control-prev" href="#BluhmpresseCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#BluhmpresseCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </f:else>
    </f:if>

</f:section>
